body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/967/183/non_2x/anime-eyes-vision-fire-pop-culture-logo-design-vector.jpg);
    background-repeat: no-repeat;
    background-size: 55%;
}